* text=auto eol=lf

*.sh text eol=lf
gradlew text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.bat text eol=crlf
*.ps1 text eol=crlf

frpc-stcp-visitor/src/test/resources/io/github/ycfeng/ocdeck/frpcstcpvisitor/contract/v1/manifest.json text eol=lf
frpc-stcp-visitor/src/test/resources/io/github/ycfeng/ocdeck/frpcstcpvisitor/contract/v1/bridge/*.json text eol=lf
frpc-stcp-visitor/src/test/resources/io/github/ycfeng/ocdeck/frpcstcpvisitor/contract/v1/**/*.bin -text
